@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans|Roboto+Slab');

.red {
  color: darkred;
  font-style: italic;
}

.highlights {
  color: rgb(7, 63, 7);
  font-weight: bold; 
  font-family: 'Noto Sans', 'Roboto Slab', serif;
}

.data {
  font-family: Arial, Helvetica, Verdana;
  color: rgb(60, 8, 102);
  font-size: 18px;
}

.text {
  color: darkblue;
  font-display: Georgia, Times;
}

.lined {
  text-decoration: underline;
}

.main {
  font-size: 50px;
}

body {
  margin: 125px 5%;
  background-color: aliceblue;
}

h1 {
  font-family: 'Germania One', cursive;
}

h2 {
  font-family: 'Dancing Script', cursive;
}

h3 {
  font-style: italic;
}

input {
  padding: 5px;
  width: 190px;
}

label {
  margin: 5px;
}

ul, h3, div, ol, p, fieldset {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: rgb(17, 4, 34);
}

table, th, td {
  border: 1px dashed black;
  margin: 25px;
}

th, td {
  padding: 5px 7px;
}

footer {
  font-family: 'Cedarville Cursive', cursive;
}